@charset "UTF-8";
@import "reset";

$breakpoint-up: (
    'sm': 'screen and (min-width: 540px)',
    'md': 'screen and (min-width: 768px)',
    'lg': 'screen and (min-width: 1024px)',
    'xl': 'screen and (min-width: 1200px)',
) !default;

// max-width
$breakpoint-down: (
    'sm': 'screen and (max-width: 539px)',
    'md': 'screen and (max-width: 767px)',
    'lg': 'screen and (max-width: 1023px)',
    'xl': 'screen and (max-width: 1199px)',
) !default;

// @mixinの定義
@mixin mq-up($breakpoint: md) {
    @media #{map-get($breakpoint-up, $breakpoint)} {
        @content;
    }
}

@mixin mq-down($breakpoint: md) {
    @media #{map-get($breakpoint-down, $breakpoint)} {
        @content;
    }
}

html{   
    margin: 0;
	padding: 0;
    font-family: ArialMT, "メイリオ", "Hiragino Kaku Gothic ProN", "ヒラギノ角ゴ ProN W3", sans-serif;
    width: fit-content;
}

.header{
    display: flex;
}

.corona{
    background-color: #453a33;
        &-title{    
            color: white;
            padding: 10px;
            text-align: center;
            font-size: 40px;
            font-weight: bold;
            padding: 1em;
        }
        &-sub{
            font-size: 30px;
            text-align: center;
            color: white;
            padding: 1em;
        }
}

.threereason{
    display: inline-block;
    text-align: center;
    p{
        font-size: 30px;
    }
}

.course{
    display: inline-block;
    text-align: center;
    font-size: 40px;
}

.eyecatch{
    background-image: url(background.png);
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    &-smallthings{
        display: flex;
        flex-wrap: wrap;
    }
    
    &-price{
        // padding-top: 100px;
        // border-radius: 50px 50px 0 0 / 10px 10px 0 0;
        // background: rgb(61,177,186);
        // background: linear-gradient(61deg, rgba(61,177,186,1) 0%, rgba(255,255,255,1) 35%, rgba(61,177,186,1) 100%);
    }
    &-woman{
        text-align: right;
    }
   
    
}

.trouble{
    display: flex;
    flex-wrap: wrap;
    background-image: url(trouble-background.png);
    background-repeat: no-repeat;
    background-size: cover;
    &-title{
        font-size: 9em;
        font-family: serif;
        transform: rotate(-4deg);
        text-align: center;
    }
    &-naiyou{
        font-size: 1.8em;
        color: white;
        font-family: serif;
    }
}

.reason{
    &-title{
        display: block;
        text-align: center;
    }
    &-one,&-two,&-three{
        font-size: 5em;
        font-family: serif;

    }
    &-reason1info,&-reason2info,&-reason3info{
        font-size: 2.2em;
        width: 100%;
    }
}
