@charset "UTF-8";

$breakpoint-up: (
    'sm': 'screen and (min-width: 540px)',
    'md': 'screen and (min-width: 768px)',
    'lg': 'screen and (min-width: 1024px)',
    'xl': 'screen and (min-width: 1200px)',
) !default;

// max-width
$breakpoint-down: (
    'sm': 'screen and (max-width: 539px)',
    'md': 'screen and (max-width: 767px)',
    'lg': 'screen and (max-width: 1023px)',
    'xl': 'screen and (max-width: 1199px)',
) !default;

// @mixinの定義
@mixin mq-up($breakpoint: md) {
    @media #{map-get($breakpoint-up, $breakpoint)} {
        @content;
    }
}

@mixin mq-down($breakpoint: md) {
    @media #{map-get($breakpoint-down, $breakpoint)} {
        @content;
    }
}

html{   
    margin: 0;
	padding: 0;
    width: fit-content;
    font-family: ArialMT, "メイリオ", "Hiragino Kaku Gothic ProN", "ヒラギノ角ゴ ProN W3", sans-serif;
}

.container{
    display: block;
    width: 100%;
}

.corona{
    background-color: #453a33;
        &-title{    
            color: white;
            padding: 10px;
            text-align: center;
            font-size: 40px;
            font-weight: bold;
            padding: 1em;
        }
        &-sub{
            font-size: 30px;
            text-align: center;
            color: white;
            padding: 1em;
        }
}

.threereason{
    display: inline-block;
    text-align: center;
    p{
        font-size: 30px;
    }
}

.course{
    display: inline-block;
    text-align: center;
    font-size: 40px;
}