@charset "UTF-8";
/*! destyle.css v3.0.0 | MIT License | https://github.com/nicolas-cusan/destyle.css */
/* Reset box-model and set borders */
/* ============================================ */
*,
::before,
::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-style: solid;
  border-width: 0;
}

/* Document */
/* ============================================ */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 * 3. Remove gray overlay on links for iOS.
 */
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
  -webkit-tap-highlight-color: transparent;
  /* 3*/
}

/* Sections */
/* ============================================ */
/**
 * Remove the margin in all browsers.
 */
body {
  margin: 0;
}

/**
 * Render the `main` element consistently in IE.
 */
main {
  display: block;
}

/* Vertical rhythm */
/* ============================================ */
p,
table,
blockquote,
address,
pre,
iframe,
form,
figure,
dl {
  margin: 0;
}

/* Headings */
/* ============================================ */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
  margin: 0;
}

/* Lists (enumeration) */
/* ============================================ */
ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

/* Lists (definition) */
/* ============================================ */
dt {
  font-weight: bold;
}

dd {
  margin-left: 0;
}

/* Grouping content */
/* ============================================ */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
  border-top-width: 1px;
  margin: 0;
  clear: both;
  color: inherit;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: inherit;
  /* 2 */
}

address {
  font-style: inherit;
}

/* Text-level semantics */
/* ============================================ */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent;
  text-decoration: none;
  color: inherit;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
  /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: inherit;
  /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Replaced content */
/* ============================================ */
/**
 * Prevent vertical alignment issues.
 */
svg,
img,
embed,
object,
iframe {
  vertical-align: bottom;
}

/* Forms */
/* ============================================ */
/**
 * Reset form fields to make them styleable.
 * 1. Make form elements stylable across systems iOS especially.
 * 2. Inherit text-transform from parent.
 */
button,
input,
optgroup,
select,
textarea {
  -webkit-appearance: none;
  /* 1 */
  -moz-appearance: none;
       appearance: none;
  vertical-align: middle;
  color: inherit;
  font: inherit;
  background: transparent;
  padding: 0;
  margin: 0;
  border-radius: 0;
  text-align: inherit;
  text-transform: inherit;
  /* 2 */
}

/**
 * Reset radio and checkbox appearance to preserve their look in iOS.
 */
[type="checkbox"] {
  -webkit-appearance: checkbox;
  -moz-appearance: checkbox;
       appearance: checkbox;
}

[type="radio"] {
  -webkit-appearance: radio;
  -moz-appearance: radio;
       appearance: radio;
}

/**
 * Correct cursors for clickable elements.
 */
button,
[type="button"],
[type="reset"],
[type="submit"] {
  cursor: pointer;
}

button:disabled,
[type="button"]:disabled,
[type="reset"]:disabled,
[type="submit"]:disabled {
  cursor: default;
}

/**
 * Improve outlines for Firefox and unify style with input elements & buttons.
 */
:-moz-focusring {
  outline: auto;
}

select:disabled {
  opacity: inherit;
}

/**
 * Remove padding
 */
option {
  padding: 0;
}

/**
 * Reset to invisible
 */
fieldset {
  margin: 0;
  padding: 0;
  min-width: 0;
}

legend {
  padding: 0;
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
  overflow: auto;
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the outline style in Safari.
 */
[type="search"] {
  outline-offset: -2px;
  /* 1 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Fix font inheritance.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/**
 * Clickable labels
 */
label[for] {
  cursor: pointer;
}

/* Interactive */
/* ============================================ */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item;
}

/*
 * Remove outline for editable content.
 */
[contenteditable]:focus {
  outline: auto;
}

/* Tables */
/* ============================================ */
/**
1. Correct table border color inheritance in all Chrome and Safari.
*/
table {
  border-color: inherit;
  /* 1 */
}

caption {
  text-align: left;
}

td,
th {
  vertical-align: top;
  padding: 0;
}

th {
  text-align: left;
  font-weight: bold;
}

html {
  margin: 0;
  padding: 0;
  font-family: ArialMT, "メイリオ", "Hiragino Kaku Gothic ProN", "ヒラギノ角ゴ ProN W3", sans-serif;
  width: 100%;
}

img {
  max-width: 100%;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.corona {
  background-color: #453a33;
  text-align: center;
  padding: 1em;
}

.corona-title {
  color: white;
  padding: 10px;
  font-size: 18px;
  font-weight: bold;
}

.corona-sub {
  font-size: 15px;
  color: white;
}

.corona-picture {
  width: 300px;
  padding-top: 10px;
}

.threereason {
  display: inline-block;
  text-align: center;
}

.threereason p {
  font-size: 30px;
}

.eyecatch {
  background-image: url(background.png);
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  padding-bottom: 90px;
}

.eyecatch::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-image: url(toppage-woman.png);
  background-size: contain;
  background-position: bottom right;
  background-repeat: no-repeat;
}

.eyecatch-subtitle {
  padding: 13px;
  width: 310px;
  position: relative;
  z-index: 10;
}

.eyecatch-title {
  position: relative;
  z-index: 10;
  margin-top: -35px;
}

.eyecatch-info {
  width: 235px;
  position: relative;
  z-index: 9;
  margin: -14 0 0 auto;
}

.eyecatch-bg {
  margin-top: -90px;
  border-radius: 10em 10em 0 0/6em 6em 0 0;
  background: #3e858b;
  background: -webkit-gradient(linear, left bottom, left top, from(#3e858b), color-stop(18%, #90f8ff), color-stop(40%, #24929a), color-stop(59%, #61e7f0), color-stop(82%, #8bc9ce), color-stop(92%, rgba(136, 195, 200, 0.276348)), to(rgba(136, 195, 200, 0)));
  background: linear-gradient(0deg, #3e858b 0%, #90f8ff 18%, #24929a 40%, #61e7f0 59%, #8bc9ce 82%, rgba(136, 195, 200, 0.276348) 92%, rgba(136, 195, 200, 0) 100%);
  position: relative;
  z-index: 1;
}

.eyecatch-content {
  font-family: serif;
  text-shadow: 3px 3px 3px #306e73;
  color: white;
  font-weight: bold;
  line-height: 1;
  padding: 10px;
  margin-top: -18px;
}

.eyecatch-content-costname {
  font-size: 32px;
}

.eyecatch-content .cost {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.eyecatch-content .cost-name {
  font-size: 81px;
}

.eyecatch-content .cost-side {
  -webkit-writing-mode: vertical-lr;
      -ms-writing-mode: tb-lr;
          writing-mode: vertical-lr;
  font-size: 23px;
}

.eyecatch-shoureijisseki {
  width: 150px;
}

.contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding-bottom: 10px;
}

.contact-1 {
  width: 180px;
}

.contact-2 {
  width: 180px;
}

.trouble {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  background-image: url(trouble-background.png);
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
}

.trouble-title {
  font-size: 53px;
  font-family: serif;
  -webkit-transform: rotate(-4deg);
          transform: rotate(-4deg);
  text-align: center;
  font-weight: bold;
}

.trouble-naiyou {
  font-size: 18px;
  color: white;
  font-family: serif;
  line-height: 2;
  margin: 10px 0 0 15px;
  position: relative;
  z-index: 2;
}

.trouble-woman {
  width: 14em;
  margin: -14em 0 0 auto;
  position: relative;
  z-index: 1;
}

.trouble-last {
  margin-top: -5em;
  position: relative;
  z-index: 3;
}

.arrow {
  position: relative;
  display: inline-block;
  padding-left: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.arrow::after {
  content: '';
  width: 30px;
  height: 30px;
  border: 0px;
  border-top: solid 2px #5bc0de;
  border-right: solid 2px #5bc0de;
  -webkit-transform: rotate(45deg);
  transform: rotate(135deg);
  position: absolute;
  top: 50%;
  left: 180.5px;
  margin-top: -4px;
}

.arrow2 {
  position: relative;
  display: inline-block;
  padding-left: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.arrow2::after {
  content: '';
  width: 30px;
  height: 30px;
  border: 0px;
  border-top: solid 2px #5bc0de;
  border-right: solid 2px #5bc0de;
  -webkit-transform: rotate(45deg);
  transform: rotate(135deg);
  position: absolute;
  top: 60%;
  left: 180.5px;
  margin-top: 15px;
}

.reason {
  background-color: #FCF2F5;
  border-radius: 3em;
  padding: 13px;
  margin: 40px 0 15px;
  padding-bottom: 28px;
}

.reason-title {
  margin: 17px 10px;
}

.reason-number {
  font-size: 5em;
  font-family: serif;
  color: #D92D68;
}

.reason-1, .reason-2, .reason-3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.reason-one, .reason-two, .reason-three {
  font-size: 2em;
  font-family: serif;
  font-weight: bold;
}

.reason-reason1info, .reason-reason2info, .reason-reason3info {
  font-size: 14px;
  width: 100%;
  padding: 12px 0 20px;
  line-height: 2;
}

.jisseki {
  background-image: url(dentalphoto.jpg);
  background-repeat: no-repeat;
  background-size: contain;
  text-align: center;
}

.jisseki-round {
  padding: 20px;
  text-align: center;
}

.course {
  display: inline-block;
  text-align: center;
}

.course-title {
  background-image: url(dental-logo.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  padding: 36px 0 30px;
}

.course-name {
  font-size: 1.5em;
  background-color: white;
  margin-top: -10px;
}

.course .course1, .course .course2, .course .course3 {
  background-color: #E7F4F0;
  margin: 10px 0 10px;
}

.course .title1 {
  font-size: 26px;
}

.course .title2 {
  font-size: 49px;
}

.info {
  text-align: center;
  padding: 1em;
}

.info-title {
  font-size: 26px;
  background-image: url(dentalphoto2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  padding: 2.9em 0;
  margin-top: 10px;
  font-family: serif;
  font-weight: bold;
  margin: 0 -1em;
}

.info-sentence {
  text-align: left;
  margin-bottom: 10px;
  line-height: 1.5;
}

.info-logo {
  width: 300px;
}

.info-stafftitle {
  text-align: center;
  background-color: #062250;
  color: white;
  padding: 10px;
  font-family: serif;
  font-weight: bold;
}

.info-image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-columns: 2;
          columns: 2;
}

.qanda {
  text-align: center;
}

.qanda-title {
  font-size: 3.5em;
  font-family: serif;
  font-weight: bold;
  border-bottom: 1px solid #3DB1BA;
}

.qanda-title2 {
  font-size: 2em;
  font-family: serif;
  font-weight: bold;
  padding-top: 15px;
}

.qanda-contents {
  margin: 0.5em;
}

.qanda-question {
  background-color: #E7F4F0;
  border-radius: 10px;
  padding: 10px;
}

.qanda-question::before {
  content: "Q";
  font-size: 2.5em;
  color: #453A33;
  margin-right: 10px;
  font-family: serif;
}

.qanda-answer {
  padding: 10px;
}

.qanda-answer::before {
  content: "A";
  font-size: 2.5em;
  color: #453A33;
  margin-right: 10px;
  font-family: serif;
}

.last {
  background-image: url(lastimage.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  padding: 10px;
  text-align: center;
}

.last-message {
  margin: 10px;
  font-size: 95%;
  font-family: serif;
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
/*# sourceMappingURL=style.css.map */